@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Merriweather:wght@400;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
:root{
    --bg-black-100:#fff;
    --skin-color:hsl(228, 66%, 53%);  
    --skin-color2:hsl(25, 83%, 53%);
    --skin-color-alt:hsl(228, 66%, 47%);
    --skin-color-light:hsl(228, 62%, 59%);
    --skin-color-lighten:hsl(228, 100%, 97%);
    --txt-black-700:#fff;
    --tt-black-500:hsl(228, 57%, 28%);
    --txt-color-2:hsl(228, 12%, 75%);
    --txt-color-1:hsl(228, 15%, 50%);
    --container-color:#fff;
    --border-color:hsl(228, 99%, 98%);


    --font-medium: 500;
    --font-semibold:600;
    --font-bold:800;

    --bdy-font-family: 'Poppins', sans-serif ;
    --font-size-bg: 2.25rem;
    --font-size-nr: .938rem;
    --font-size-sm: .813rem;
    --font-size-smlr: .75rem;
    --h1-size: 1.5rem;
    --h2-size: 1.25rem;
    --h3-size: 1rem;
    --header-height: 3.5rem;
 }
 html{
   scroll-behavior: smooth;
 }
 * {
   box-sizing: border-box;
   text-align: center;
   text-decoration: none;
 }

 .swiper-button-prev::after,
.swiper-button-next::after{
   display: flex;
   font-size: 30px;
}
body{
   margin: 0;
}
.body{
   margin: 0 50px;
}
nav{
   width: 100%;
   background-color: rgb(50, 46, 46);
   color: white; 
   padding: 0;
}
.amazing{
   font-weight: 900;
   font-size: 40px;
}
.headlinks{
   display: flex;
   justify-content: space-between;
   color: white;
}
.headlinks a{
   background-color:rgb(79, 79, 97);
   border-radius: 10px;
   padding:4px 10px;
   font-size: 15px;
   color: white;
   margin: auto;
}
.swiper{
    width:100%;
    height: 500px;
}
.image{
width: 100%;
height: 100%;
}
.swiper-color{
   color:hsl(228, 66%, 47%) !important
}
.red{
   color: red;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
}
.white{
   padding:20px;
   color: white;
   background-color: black;
}
.ordernow{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: white;
   background-color: Red;
   font-weight: 900;
   border-radius: 20rem;
}
ul {
   display: flex;
   width: 70%;
   flex-direction: column;
   border: solid black;
   font-weight: 900;
   text-align: start;
}
ul li{
  text-align: start;
  padding-bottom: 10px;
}
.ulhead{
   padding-bottom: 10px;
   padding-top: 10px;
   font-size: 20px;
}
.swiper-pagination{
    position: relative;
    top: 10px;
}
.after-swiper{
   margin-top: 60px;
}
.firstp{
   font-size: 20px;
}
h2 a{
   color: white;
}
.typing{
font-size: 20px;
font-weight: 600;
background-color: gold;
}
#orderform{
   text-align: left;
   border: green solid 2px;
   padding: 10px
}
.name{
   margin-bottom: 20px;
   width: 30rem;
   height: 30px;
}
#address{
   height: 100px;
}
#ordernow input,textarea{
   text-align: left;
}
button{
   background-color: gold;
   color: black;
}
.form{
   text-align: left;
   margin-bottom: 0;
   font-weight: 700;
}
.ul{
   display: flex;
   justify-content: center;
   align-items: start;
   text-align: left;
}
.work{
   margin-top: 30px;
   margin-bottom: 5px;
}
h2{
   background-color: red;
   color: white;
   border-radius: 10px;
}
.get{
   background-color: white;
   color: red
}
.or{
   font-size: 20px;
   font-weight: 900;
}
.order{
background-color: black;
color: white;
padding: 15px;
margin-top: 50px;
border-radius: 1rem;
}
.important{
   border: solid black;
   margin-bottom: 20px;
   font-size: larger;
   font-weight: 800;
}
.thanks{
   color: green;
}
.green{
   background-color: white;
   color: green;
   margin-bottom: 0;
   margin-top: 70px
}
footer{
   margin-top: 100px;
}
footer .img{
   display: flex;
   width: 20px;
   height: 20px;
}
button:hover{
background-color: white;
}
.nodisplay{
   font-weight: 900;
   margin: 0;
   padding: 0;
   text-align: start;
   display: none;
   color: red;
}
.display{
   display: block;
}
 a img{
   width: 200px;
   height: 200px;
}
.feedback{
   font-size: larger;
   font-weight: 900;
}
.feedback-sections{
   border: solid 2px;
}
.feedback-sections p{
   font-size: 20px;
}
@media (max-width: 767px){
   h1{
      font-size: 20px;
   }
   h2{
      font-size: 20px;
   }
   .red{
      font-size: 25px;
   }
   .name{
      width: 200px;
   }
   .body{
      margin: 15px;
   }
   .ul{
      display: flex;
      justify-content: center;
      text-align: start;
   }
   ul{
      text-align:start;
   }
   .pay{
      padding-bottom: 20px;
      font-size: 30px;
   }
   img{
      width:150px;
   }
   button{
      margin-top: 20px;
   }
   .swiper{
      height: 400px;
   }
   ul{
      width: 100%
   }
   .form{
      margin-top: 0;
   }
   .name{
      margin-bottom: 10px;
   }
   .amazing{
      padding: 5px 0;
      font-size: 30px;
   }
}